* {
    margin: 0;
    padding: 0;
}
body {
    /* position: relative; */
    max-width: 1440px;
    height: 100vh;
    margin: auto;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    /* font-size: 22px; */
}
.background {
    height: 150px;
    background: #5542ae;
    position: relative;
    top: 100%;
    z-index: -1;

}
.container {
    max-width: 1280px;
    margin: 40px auto;
}
.container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .header .header__logo {
    margin-right:150px;
}
.container .header .header__logo a {
    color: #000;
    font-size: 28px;
    font-weight: 600;

}
.container .header .header__logo a span {
    color: #5542ae;
    font-size: 30px;
    font-weight: 600;
}
.container .header ul {
    list-style: none;
    display: flex;
}
ul .menu__list {
    margin: 0 20px;
}
ul .menu__list a {
    color: #000;
    font-weight: 600;
}
ul .menu__list a:hover {
    color: #5542ae;
}
.container .header .header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .header .header__btn .btn {
    margin: 0 15px;
    /* padding: 14px 20px; */
}
.container .header .header__btn .btn.btn__login {
    margin: 0;
}
.container .header .header__btn .btn a {
    display: inline-block;
    text-align: center;
    padding: 14px 20px;
    min-width: 80px;
    max-width: 80px;
    color: #5542ae;
    font-weight: 600;
}
.container .header .header__btn .btn.btn__login a 
{   border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 999px;
    transition: 0.4s;
}
.container .header .header__btn .btn__login a:hover {
    color: #fff;
    border: 1px solid;
    border-color: #5542ae;
    background-color: rgba(86, 66, 174, 1);
}
.container .header .header__btn .btn__signup a {
    border: 1px solid rgba(86, 66, 174, 0.2);
    border-radius: 999px;
    background-color: rgba(86, 66, 174, 0.1);
    transition: 0.4s;
}
.container .header .header__btn .btn__signup a:hover {
    background-color: #5542ae;
    color: #fff;
}
.banner {
    padding-top: 80px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.banner .banner__heading {
    color: #333;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 35px;
}
.banner .banner__title {
    line-height: 30px;
    font-weight: 500;
    color: #333;
    margin-bottom: 35px;
}
.banner .banner__box .box__form {
    width: 400px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: #fafbff;
    border-radius: 999px;
    box-shadow: -4px 10px 25px rgba(66, 86, 174, 0.4);
    /* box-sizing: border-box; */
}
.banner .banner__box .box__form .form__input {
    width: 220px;
    margin-left: 20px;
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    border: none;
    outline: none;
    background-color: #fafbff;
}
.banner .banner__box .box__form .form__btn a {
    padding: 8px 13px;
    background-color: #5542ae;
    border-radius: 999px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.8s;
}
.banner .banner__box .box__form .form__btn a:hover {
    background-color: rgba(66, 86, 174, 0.1);
    color: #5542ae;
}